certifi==2024.7.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
imageio==2.34.2
importlib_resources==6.4.0
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
matplotlib==3.5.3
networkx==3.2.1
numpy==1.24.2
packaging==24.1
pandas==2.2.2
pillow==10.3.0
Pygments==2.13.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
threadpoolctl==3.5.0
tifffile==2024.7.2
tzdata==2024.1
ucimlrepo==0.0.7
zipp==3.19.2
